<h1>Detalle del Producto</h1>
<br/>
{{#if _id}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <br/>
    <strong>Categoria: {{category}}</strong>
    <hr>
    <p>Precio: {{price}}</p>
    <p>Unidades disponibles: {{stock}}</p>
    <button onclick="addToCart(`{{_id}}`)">Agregar al carrito</button>
{{else}}
    <p>No hay detalles</p>
{{/if}}
<script src="/js/products.js"></script>